/build/
cmake-build-debug/
cmake-build-release/

*.o
*.obj

*.so
*.dylib
*.dll

*.a
*.lib

CMakeCache.txt
CMakeFiles/
CMakeTmp/
Makefile
cmake_install.cmake

.idea/

/.metadata/

.vscode/

.idea/

.DS_Store
Thumbs.db

*.log

*~
*.bak
*.swp

*.env

*.tar.gz
*.zip
*.7z
